@model prjEasyDent.Model.tblPaciente
@{
    ViewBag.Title = "Ingresar Paciente";
}
@if (Session["LogedUserFullname"] != null)
{
<!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Crear Paciente</h3></div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="post" action=@Url.Action("GuardarPaciente", "Home")>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nombre</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Apellidos</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tipo de Documento</label>
                                    <div class="col-sm-10">
                                        <select id="tipo_documento" name="tipo_documento" class="form-control">
                                            <option>Registro Civil</option>
                                            <option>Tarjeta de Identidad</option>
                                            <option>Cedula</option>
                                            <option>Pasaporte</option>
                                            <option>Extranjero</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">No.</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.numero_documento, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Fecha de nacimiento</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @class = "form-control input-lg", @type = "date" } })
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Sexo</label>
                                    <div class="col-sm-10">
                                        <select id="sexo" name="sexo" class="form-control">
                                            <option>Masculino</option>
                                            <option>Femenino</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Estado Civil</label>
                                    <div class="col-sm-10">
                                        <select id="estado_civil" name="estado_civil" class="form-control">
                                            <option>Soltero</option>
                                            <option>Casado</option>
                                            <option>Union Libre</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">Ocupacion</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ocupacion, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">No. telefono</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">Direccion</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">No. Celular</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.celular, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">Correo Electrónico</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control input-lg", @type = "email" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">Nombre Acudiente</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.nombre_acudiente, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">Relación con el Paciente</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.relacion_acudiente, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="example-email">Teléfono Acudiente</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.telefono_acudiente, new { htmlAttributes = new { @class = "form-control input-lg", @type = "text" } })
                                    </div>
                                </div>
                                <div class="form-group text-center m-t-40">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">Siguiente</button>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- panel-body -->
                    </div> <!-- panel -->
                </div> <!-- col -->
            </div><!-- Row -->

        </div> <!-- content -->
    </div>
}
